/* Variables */
:root {
  --main-color: #a26329;
  --LightGrayColor: #dedede;
  --DarkGrayColor: #999;
  --assetcolor:  #2971a2;
}

/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}

.container {
  position: relative;
  z-index: 999;
}

.section-title {
  font-size:  45px;
  font-weight: 600;
  text-align: center;
  margin-top: 70px;

}




/* //////////////// */

/* Navigation Bar (Fixed on all pages) */
.navbar {
  padding-top: 3.5rem;
  /* background-color: #a26329; */
  /* border-bottom: var(--DarkGrayColor) solid 1px; */
}
.nav-link {
  color: black;
  font-size: 15px;
  margin-left: 20px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.nav-link:hover {
  color: var(--main-color);
}

/* Content of Page */

h2.title {
  text-align: center;
  margin: 50px;
  font-weight: 600;
 
}

.row.contact {
  padding: 45px;
}

.overlay.contact {
  height: 400px;
  background-color: var(--main-color);
  background-image: url("../images/andrew-stutesman-l68Z6eF2peA-unsplash.jpg");
  background-size: cover;
}

.overlay-home {
  background-image: url("../images/home_landing.jpg");
  min-height: 100vh;
  background-size: cover;
}

.overlay-gradient {
  position: absolute;
  left: 0;
  width: 100%;
  height: 103%;
  z-index: 1; /* Ensure the overlay is above the content */
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.8),
    rgba(0, 0, 0, 0)
  );
}
.contact h2 {
  margin-bottom: 20px;
}
.list-unstyled {
  padding: 20px;
  margin-top: 30px;
}

.submit-btn {
  width: 110px;
  padding: 12px 4px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color: var(--main-color);
  border: none;
  border-radius: 16px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  /* margin-top: 10px; */
}

.submit-btn:hover {
  background-color:#fff;
  box-shadow: 0px 15px 20px rgba(144, 148, 147, 0.4);
  color:#000;
  transform: translateY(-7px);
}

/* //////////////// Home style ///////////// */
/* Hero section */

.hero-text h1 {
  font-weight: 700;
  padding: 15px;
  margin-top: 30px;
  line-height: 1.5em;
  font-size: 3em;
  letter-spacing: 1px;
}

/* Search bar */
 .search-bar {
  background-color: #fff;
  box-shadow: 0px 6px 12px rgba(0,0,0,0.05);
  height: 80px;
  border-radius: 40px;
  padding-left: 20px;
  /* transform: translateY(-80%); */
}
/* .hero form {
  display: flex;
  align-items: center;
  padding: 20px;
  position: relative;
  width: 100%;
} */

.search-bar input,
select {
  border: 0 none;
  outline: 0;
}
.search-bar .search-cat {
  border-left: 1px solid var(--LightGrayColor);
}

.search-button {
  width: 40px; /* Adjust button width */
  height: 40px; /* Adjust button height */
  border-radius: 50%; /* Make button circular */
  background-color: var(--main-color); /* Button background color */
  color: #fff; /* Text color */
  border: none; /* Remove border */
  cursor: pointer;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.search-bar i {
  margin-right: 10px;
  font-size: 20px;
  color: var(--DarkGrayColor);
}
.search-bar button:hover {
  background-color: var(--LightGrayColor);
}

input::placeholder {
  font-weight: 300;
  font-size: 15px;
}
.search-bar select {
  font-weight: 300;
  font-size: 15px;
  margin-left: 13px;
}


/* ///////////    Home | Packages       ///////////// */
.product-card {
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 12px;
  padding: 10px;
  min-height: 20em;
  overflow: hidden;
  margin: 10px;
  transition: 0.3s ease;
}

.product-card:hover {
  transform: scale(1.1);
}
.product-image{
  /* width: 100%; */
  margin: 2px;
  border-radius: 12px;
}
.product-card:hover .product-image {
  opacity: 0.9;
}

.packages .product-card .submit-btn {}

/* ////////// checkout form //////////////////*/

.checkout-form {
  margin-top: 50px;
  padding:30px;
}

.form-text {
  font-weight: 300;
  margin: 20px 0px 20px 0px;
}

.checkout-form .submit-btn, 
.contact-form .submit-btn {
  margin-top: 22px;
}


/* //////////// Home | Footer Section */

/* .footer .container {
  margin: 20px;

} */
.footer {
  padding-top: 50px;
  padding-bottom: 10px;
  background-color:var(--LightGrayColor);
  text-align: center;
}

.footer p:not(.copyright) {
  text-transform: uppercase;
  /* border-bottom: 1px solid white; */
  font-size: 15px;
  /* padding: 20px; */
  margin: 20px auto;
  width: fit-content;
  letter-spacing: 6px;
}
.footer .social-icons i {
  padding: 7px;
  font-size: 27px;
  color: var(--main-color);
}
.footer .copyright {
  margin-top: 50px;
}
.footer .copyright span {
font-weight: bold;
}

.footer .customer-care {
  padding: 50px;
  letter-spacing: 10px;
}