
<div class="search-bar row col-lg-6">
    <form class=" justify-content-end align-items-center" role="search">
        <!-- Destination field -->
        <div class="">
            <i class="fa-solid fa-location-dot"></i>
            <input type="text" name="keywords" id="keywords" value="" placeholder="Your Destination">
        </div>
        <!-- Category field -->
        <div class="search-cat col-5 input-group">
            <select name="categories" id="categories">
                <option value="0">All Categories</option>
                <option value="15">Adventure Travel</option>
                <option value="16">Family Travel</option>
                <option value="17">Luxury Travel</option>
                <option value="18">Cultural and Heritage</option>
            </select>
        </div>
        <div class="search-button">
            <button>
                <span class="fa fa-search "></span>
            </button>
        </div>
    </form>
</div>