/* ======================== Variables  ======================== */
:root {
  --main-color: #a26329;
  --LightGrayColor: #dedede;
  --DarkGrayColor: #999;
  --assetcolor: #85b6a8;
  --lightbg: #f4f5f8;
}

/* ======================== Global Rules  ======================== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}
button:focus {
  outline: none;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: var(--main-color);

  box-shadow: none;
}

.container {
  position: relative;
}

.section-title {
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  margin-top: 70px;
}

/* ======================== Header / navbar   ======================== */

header .container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}
.links-container {
  display: block;
  /* width: 100%; */
}

header nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header nav ul {
  display: flex;
  align-items: center;
  margin: 0;
}

header nav ul li .my-nav-link {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 15px;
  margin-left: 45px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.my-nav-link:hover {
  color: var(--main-color);
}

/* ============= on small Screens ================= */
/* Hide links on small devices and show toggle menu */
@media (max-width: 991px) {
  header .links-container .links {
    display: none;
  }
  header .links-container.open .links {
    display: block;
  }
  header .links-container.open .links a {
    margin-top: 10px;
  }
  header .links-container.open {
    background-color: var(--lightbg);
    padding: 20px;
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    z-index: 999;
  }
  header .links-container.open {
    display: inline-block;
    margin-top: 15px;
  }

  header .toggle-menu {
    display: inline-block;
  }

  .right-div {
    margin-left: 10px;
  }

  .search-bar {
    height: auto;
    display: block;
    padding: 20px;
  }
  .search-button button {
    width: auto;
    height: auto;
    border-radius: 0%;
  }
  .destination-select {
    margin-top: 25px;
    margin-bottom: 25px;
    border-left: none;
  }
  .group {
    padding: 10px;
  }
  .container .packages.hero {
    margin-top: 20px;
  }
}

/* ============= on Large Screens ================= */
/* Ensure links are visible and toggle menu is hidden on larger devices */
@media (min-width: 992px) {
  header .links-container {
    display: block;
  }

  header .toggle-menu {
    display: none;
  }
}

header .toggle-menu {
  color: #000;
  font-size: 26px;
  cursor: pointer;
}

.right-div {
  display: flex;
  margin-left: 25px;
  align-items: center;
}
.right-div .welcome-msg {
  margin-right: 10px;
  font-style: italic;
}

/* ======================== Navigation bar  ======================== */
.navbar {
  padding-top: 3.5rem;
  /* z-index: 90; */

  /* background-color: #a26329; */
  /* border-bottom: var(--DarkGrayColor) solid 1px; */
}

.collapse {
  margin-left: 53px;
}

/* Content of Page */

h2.title {
  text-align: center;
  margin: 50px;
  font-weight: 600;
}

.row.contact {
  padding: 45px;
}

.overlay.contact {
  /* height: 400px; */
  background-color: var(--main-color);
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.8),
      rgba(0, 0, 0, 0)
    ),
    url("../images/andrew-stutesman-l68Z6eF2peA-unsplash.jpg");

  /* background-image: url("../images/andrew-stutesman-l68Z6eF2peA-unsplash.jpg"); */
  background-size: cover;
}
.overlay.signup,
.overlay.login {
  /* height: 400px; */
  /* background-color: var(--main-color); */
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.8),
      rgba(0, 0, 0, 0)
    ),
    url("../images/eva-darron-oCdVtGFeDC0-unsplash.jpg");
  background-size: cover;
}

.overlay-home {
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.8),
      rgba(0, 0, 0, 0)
    ),
    url("../images/home_landing.jpg");
  /* background-image: url("../images/home_landing.jpg"); */
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden; /* Ensures pseudo-element doesn't overflow the container */
}
.second-contact {
  padding-bottom: 20px;
}

.contact h2 {
  margin-bottom: 80px;
}
.list-unstyled {
  padding: 20px;
  margin-top: 30px;
}

.submit-btn {
  width: 110px;
  padding: 12px 4px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color: var(--main-color);
  border: none;
  border-radius: 16px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  /* margin-top: 10px; */
}

.submit-btn:hover {
  background-color: white;
  box-shadow: 0px 15px 20px rgba(144, 148, 147, 0.4);
  color: #000;
  transform: translateY(-7px);
}

/* ======================== Home | Hero section  ======================== */

.hero-text h1 {
  font-weight: 700;
  margin-top: 30px;
  line-height: 1.5em;
  font-size: 3em;
  letter-spacing: 1px;
}

/* ======================== Home | Search bar  ======================== */

.hero-section {
  padding-top: 10px;
  margin-top: 50px;
}
.hero-section h1 {
  font-weight: 700;
  line-height: 1.5em;
  font-size: 3em;
  letter-spacing: 1px;
}

.hero-section .subtitle {
  margin-top: 30px;
  margin-bottom: 40px;
}
.search-bar {
  background-color: #fff;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);

  border-radius: 40px;
  /* padding-left: 20px; */
  /* display: flex; */
}
.search-bar form {
  /* height: 80px; */
  padding: 10px;
}
.search-bar input,
select {
  flex: 1;
  border: 0 none;
  outline: 0;
  padding-left: 20px;
  width: 50%;
}

.search-bar .destination-select {
  border-left: 1px solid var(--LightGrayColor);
  font-weight: 300;
  font-size: 15px;
  margin-left: 13px;
  height: 55%;
}
.search-bar .destination-select .group {
  display: flex;
  align-items: center;
  height: 100%;
}
.search-button {
  padding: 0;
  margin-right: 20px;
}
.search-button button {
  width: 50px; /* Adjust button width */
  height: 50px; /* Adjust button height */
  border-radius: 50%; /* Make button circular */
  background-color: var(--main-color);
  color: #fff; /* Text color */
  border: none; /* Remove border */
  cursor: pointer;
  font-size: 20px;
}

.search-button button:hover {
  background-color: var(--LightGrayColor);
}

input::placeholder {
  font-weight: 300;
  font-size: 15px;
}

/* @media (max-width: 576px) {
  .search-bar {
    height: auto;
    padding: 20px;
  }
} */

/* ==================  Home | Packages    ==================== */

/* .cards-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
} */

.product-card {
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 12px;
  padding: 10px;
  min-height: 20em;
  overflow: hidden;
  margin: 5px;
  transition: 0.3s ease;
}

.product-card:hover {
  transform: scale(1.05);
}
.product-card img {
  width: 100%;
  margin: 2px;
  border-radius: 12px;
}
.product-card:hover .product-image {
  opacity: 0.9;
}

.packages .product-card .submit-btn {
}

/* ================ checkout form ================= */

.checkout-form {
  margin-top: 50px;
  padding: 30px;
}

.form-text {
  font-weight: 300;
  margin: 20px 0px 20px 0px;
}

.checkout-form .submit-btn,
.contact-form .submit-btn {
  margin-top: 22px;
}

/*  ================ Home | footer section =================  */

.footer {
  padding-top: 50px;
  padding-bottom: 10px;
  background-color: var(--lightbg);
}

.footer .title-footer {
  text-transform: uppercase;
  font-size: 20px;
  width: fit-content;
  letter-spacing: 6px;
  font-weight: 800;
  margin: 20px auto;
}

.footer img {
  display: block;
}

.footer .text-footer {
  text-align: left;
  margin-top: 25px;
  font-weight: 300;
}

.footer .social-icons i {
  padding-right: 20px;
  font-size: 27px;
  color: #000;
}

/* Quick Links Styles */
.quick-links {
  list-style: none; /* Remove default list styles */
  padding: 0; /* Remove default padding */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quick-links li {
  /* margin-right: 20px; Add spacing between list items */
}

.quick-links a {
  color: #333; /* Set link text color */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s; /* Add smooth color transition */
  text-align: left;
}

.quick-links a:hover {
  color: var(--main-color); /* Change text color on hover */
}

.footer .copyright {
  margin-top: 25px;
  text-align: center;
}
.footer .copyright span {
  font-weight: bold;
}

.footer .customer-care {
  padding: 50px;
  letter-spacing: 10px;
}

.footer .has-top-border {
  border-top: 1px solid var(--LightGrayColor);
  margin-top: 30px;
}

.about-section {
  padding: 30px;
  margin: 30px;
}

.review-box {
  width: 80%;
  margin: 20px;
  padding: 30px;
  background-color: var(--lightbg);
}

.review-box .icons {
  color: #ffd700;
}

/* ==================== Packages Page ==================== */

.packages-hero {
  margin-top: 35px;
}
.packages-hero .search-bar {
  margin-top: 10px;
}
.overlay.packages {
  height: 600px;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.8),
      rgba(0, 0, 0, 0)
    ),
    url("../images/sea.jpg");
  /* background-image: url("../images/sea.jpg"); */
  background-size: cover;
}

.container.packages.all {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* ========================== login Page ============================== */

.login .row .card .card-body a {
  color: var(--main-color);
}

.container-login {
  padding-top: 70px;
  padding-bottom: 70px;
}

/* ========================== Sign up Page ============================== */

.error {
  border-color: rgb(167, 21, 21);
}

.error-message {
  color: rgb(167, 21, 21);
  font-size: 12px;
  margin-top: 5px;
}
.checkout-form {
  margin-bottom: 75px;
}
