{% extends "base.html" %}


{% block body %}

<!-- =================== *** Start *** ==================== -->
<div class="overlay contact">
  <!-- ======= Navigation Bar ========== -->
  <div class="container">
    <header>
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="../static/images/logo.png" height="50px" alt="logo" loading="lazy"></a>
        <nav>
          <i class="fas fa-bars toggle-menu"></i>
          <div class="links-container">
            <ul class="links">
              <li class=""><a href="/" class="my-nav-link">Home</a></li>
              <li class=""><a href="/packages" class="my-nav-link">Packages</a></li>
              <li class=""><a href="/submit_booking" class="my-nav-link">Book Now</a></li>
              <li class=""><a href="/contact" class="my-nav-link">Contact</a></li>
            </ul>
          </div>

          <div class="right-div">
            {% if user_name %}
            <div class="welcome-msg">Welcome, {{ user_name }}! </div>
            <div> <a href="{{ url_for('logout') }}"> <button class="submit-btn">
                  Log out
                </button></a></div>
            {% else %}
            <a href="/login" class="submit-btn-a">
              <button class="submit-btn">
                Sign in/Up
              </button>
            </a>
            {% endif %}
          </div>
        </nav>
      </div>
    </header>

  </div>
  <!-- Page Content -->
  <div class='container second-contact'>
    <h2 class="title">
      ... Get in Touch ...
    </h2>
    <div class="row contact bg-light">
      <div class="col-md-6 customer-care">
        <h2> Customer Care </h2>
        <p> Not sure where to start? Need help in planning your next vacation? Just get in touch with us.
        </p>
        <ul class="list-unstyled">
          <li class="media">
            <i class="fa-solid fa-phone mr-3 "></i>
            <div class="media-body">
              <h5 class="mt-0 mb-1">Phone</h5>
              +2533734849743
          <li class="media my-4">
            <i class="fa-solid fa-envelope mr-3"></i>
            <div class="media-body">
              <h5 class="mt-0 mb-1">Email</h5>
              customercare@explore.com
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-6 contact-form">
        <form action="/contact" method="post" id="contactForm">
          <h2> Contact us</h2>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputFname">First Name</label>
              <input type="text" class="form-control" id="inputFname" placeholder="First Name" name="f-name"
                value="{{user_fname}}" required>
            </div>
            <div class="form-group col-md-6">
              <label for="inputLname">Last Name</label>
              <input type="text" class="form-control" id="inputLname" placeholder="Last Name" name="l-name"
                value="{{user_lname}}">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputphone">Phone Number</label>
              <input type="text" class="form-control" id="inputphone" placeholder="Phone" name="phone"
                value="{{user_phone}}" required>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputEmail">Email</label>
              <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="email"
                value="{{user_email}}" required>
            </div>
          </div>
          <div class="form-group">
            <label for="inputMessage">Message</label>
            <textarea class="form-control" id="inputMessage" rows="5" name="message" required></textarea>
          </div>
          <input type="submit" value="Submit" class="submit-btn">
        </form>

      </div>


    </div>


  </div>

</div>
</div>
<!-- ==================== Footer Section ===================== -->

<!-- ==================== Footer Section ===================== -->

<div class="footer">
  <div class="container">
      <div class="row">
          <div class="col-lg-4">
              <img src="../static/images/logo.png" height="50px" alt="logo" loading="lazy" />
              <p class="text-footer">
                  Quisque imperdiet sapien porttito the bibendum sellentesque the
                  commodo erat acar accumsa lobortis, enim diam the nesuen.
              </p>
              <div class="social-icons">
                  <i class="fa-brands fa-facebook"></i>
                  <i class="fa-brands fa-twitter"></i>
                  <i class="fa-brands fa-square-instagram"></i>
                  <i class="fa-brands fa-linkedin"></i>
              </div>
          </div>
          <div class="col-lg-4">
              <p class="title-footer">Quick links</p>
              <ul class="quick-links">
                  <li><a href="/">Home</a></li>
                  <li><a href="/packages">Packages</a></li>
                  <li><a href="/submit_booking">Book Now</a></li>
                  <li><a href="/contact">Contact</a></li>
              </ul>
              <!-- <div class="social-icons">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-square-instagram"></i>
                    <i class="fa-brands fa-linkedin"></i>
                </div> -->
          </div>
          <div class="col-lg-4">
              <p class="title-footer">Get in touch</p>
              <div class="contact-info">
                  <div class="item">
                      <div class="address row">
                          <i class="col-1 fa-solid fa-location-dot"></i>
                          <p class="col">
                              1616 Broadway NY, New York 10001 <br />United States of America.
                          </p>
                      </div>
                      <div class="phone row">
                          <i class="col-1 fa-solid fa-phone"></i>
                          <p class="col phone">+1 203 123 0606</p>
                      </div>
                      <div class="email row">
                          <i class="col-1 fa-solid fa-envelope"></i>
                          <p class="col mail">info@hotel.com</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="container has-top-border">
          <p class="copyright">© 2024 <span>EXplore</span> All Right Reserved</p>
      </div>
  </div>
</div>

{% endblock %}