{% extends "base.html" %} {% block body %}



<div class="overlay login">
    <div class="container">
        <!-- ======= Navigation Bar ========== -->
        <div class="container">
            <header>
                <div class="container">
                    <a class="navbar-brand" href="/">
                        <img src="../static/images/logo.png" height="50px" alt="logo" loading="lazy"></a>
                    <nav>
                        <i class="fas fa-bars toggle-menu"></i>
                        <div class="links-container">
                            <ul class="links">
                                <li class=""><a href="/" class="my-nav-link">Home</a></li>
                                <li class=""><a href="/packages" class="my-nav-link">Packages</a></li>
                                <li class=""><a href="/submit_booking" class="my-nav-link">Book Now</a></li>
                                <li class=""><a href="/contact" class="my-nav-link">Contact</a></li>
                            </ul>
                        </div>

                        <div class="right-div">
                            {% if user_name %}
                            <div class="welcome-msg">Welcome, {{ user_name }}! </div>
                            <div> <a href="{{ url_for('logout') }}"> <button class="submit-btn">
                                        Log out
                                    </button></a></div>
                            {% else %}
                            <a href="/login" class="submit-btn-a">
                                <button class="submit-btn">
                                    Sign in/Up
                                </button>
                            </a>
                            {% endif %}
                        </div>
                    </nav>
                </div>
            </header>

        </div>
    </div>
    <!-- Page Content -->
    <div class="container">
        <div class="container-login">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header text-center">
                            <h3>Sign In/Register</h3>
                        </div>
                        <div class="card-body">
                            <!-- <form action="/login" method="post" id="loginForm" class="checkout" >
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email address/Username</label>
                                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                                        required>
                                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="password" required>
                                </div>
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="rememberMe">
                                    <label class="form-check-label" for="rememberMe">Remember me</label>
                                </div>
                                <button type="submit" class="btn submit-btn w-100">Sign In</button>
                            </form> -->
                            <form action="/login" method="post">
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email address</label>
                                    <input type="email" class="form-control" id="username" name="username"
                                        aria-describedby="emailHelp" required>
                                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="password" name="password" required>
                                </div>

                                <button type="submit" class="btn submit-btn w-100">Sign In</button>
                            </form>

                            <div id="signup" class="form-text">Not a member? <a href="/signup"> Signup Now! </a> </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- ==================== Footer Section ===================== -->

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img src="../static/images/logo.png" height="50px" alt="logo" loading="lazy" />
                <p class="text-footer">
                    Quisque imperdiet sapien porttito the bibendum sellentesque the
                    commodo erat acar accumsa lobortis, enim diam the nesuen.
                </p>
                <div class="social-icons">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-square-instagram"></i>
                    <i class="fa-brands fa-linkedin"></i>
                </div>
            </div>
            <div class="col-lg-4">
                <p class="title-footer">Quick links</p>
                <ul class="quick-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/packages">Packages</a></li>
                    <li><a href="/submit_booking">Book Now</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
                <!-- <div class="social-icons">
                      <i class="fa-brands fa-facebook"></i>
                      <i class="fa-brands fa-twitter"></i>
                      <i class="fa-brands fa-square-instagram"></i>
                      <i class="fa-brands fa-linkedin"></i>
                  </div> -->
            </div>
            <div class="col-lg-4">
                <p class="title-footer">Get in touch</p>
                <div class="contact-info">
                    <div class="item">
                        <div class="address row">
                            <i class="col-1 fa-solid fa-location-dot"></i>
                            <p class="col">
                                1616 Broadway NY, New York 10001 <br />United States of America.
                            </p>
                        </div>
                        <div class="phone row">
                            <i class="col-1 fa-solid fa-phone"></i>
                            <p class="col phone">+1 203 123 0606</p>
                        </div>
                        <div class="email row">
                            <i class="col-1 fa-solid fa-envelope"></i>
                            <p class="col mail">info@hotel.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container has-top-border">
            <p class="copyright">© 2024 <span>EXplore</span> All Right Reserved</p>
        </div>
    </div>
</div>

{% endblock %}