{% extends "base.html" %} {% block body %}
<div class="overlay login">
    <div class="overlay-gradient"></div>
    <div class="container">
        <!-- Navigation Bar (Fixed on all pages) -->
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="/">
                <img src="../static/images/logo.png" height="50px" alt="logo" loading="lazy" /></a>
            <a href="#nav-menu" data-toggle="collapse" class="navbar-toggler">
                <span class="navbar-toggler-icon"></span>
            </a>

            <div id="nav-menu" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                    <li class="nav-item">
                        <a href="/packages" class="nav-link">Packages</a>
                    </li>
                    <li class="nav-item">
                        <a href="/submit_booking" class="nav-link">Book Now</a>
                    </li>
                    <li class="nav-item">
                        <a href="/contact" class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- Page Content -->
    <div class="container">
        <div class="container-login mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header text-center">
                            <h3>Sign In/Register</h3>
                        </div>
                        <div class="card-body">
                            <!-- <form action="/login" method="post" id="loginForm" class="checkout" >
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email address/Username</label>
                                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                                        required>
                                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="password" required>
                                </div>
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="rememberMe">
                                    <label class="form-check-label" for="rememberMe">Remember me</label>
                                </div>
                                <button type="submit" class="btn submit-btn w-100">Sign In</button>
                            </form> -->
                            <form action="/login" method="post" id="loginForm" class="checkout">
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email address/Username</label>
                                    <input type="email" class="form-control" id="email" name="username" aria-describedby="emailHelp" required>
                                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="password" name="password" required>
                                </div>
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="rememberMe">
                                    <label class="form-check-label" for="rememberMe">Remember me</label>
                                </div>
                                <button type="submit" class="btn submit-btn w-100">Sign In</button>
                            </form>
                            
                            <div id="signup" class="form-text">Not a member? <a href="/signup"> Signup Now! </a> </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
</div>

<script src="bootstrap/js/popper.min.js"></script>
<script src="bootstrap/js/jquery-3.7.1.min.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>
{% endblock %}