<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Package List</title>
    <style>
        
        .package img {
            max-width: 200px; 
            max-height: 150px; 
        }
        .iframe-container {
        max-width: 800px;
        margin: 0 auto;
        overflow: hidden;
    }

    .iframe-container iframe {
        width: 100%;
        height: 200px;
        border: none;
        overflow: hidden;
    }
    </style>
    
</head>
<body>
    
    <div class="packages">
    <h1>***Packages***</h1>
    <div class="iframe-container">
      <iframe src="https://www.google.com/" scrolling="no"></iframe>
  </div>
  
</div>
<section class="package">
  {% for package in packages %}
  <article>
    <div>
      <h2>{{ package.package_name }}</h2>
      {% if package.image %}
      <div>
        <img src="data:image/jpeg;base64,{{ package.image }}" />
      </div>
      {% else %}
        <p>No image available</p>
      {% endif %}
      <div>{{ package.price }}</div>
    </div>
    <div>
      <div>{{ package.description1 }}</div>
      <div>{{ package.description2 }}</div>
    </div>
  </article>
  {% endfor %}
</section>

  </div>
   
    
</body>
</html>
