
{% extends "base.html" %}


{% block body %} 
<!-- Hero Section -->
<div class="overlay-home">
    <div class="overlay-gradient"></div>
    <div class="container">
        <!-- Navigation Bar (Fixed on all pages) -->
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#">
                <img src="../static/images/logo.png" height="50px" alt="logo" loading="lazy"></a>
            <a href="#nav-menu" data-toggle="collapse" class="navbar-toggler">
                <span class="navbar-toggler-icon"></span>
            </a>
            <div id="nav-menu" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="#about-us" class="nav-link">About Us</a></li>
                    <li class="nav-item"><a href="submit_booking.html" class="nav-link">Book Now</a></li>
                    <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
                </ul>
            </div>
        </nav>
        <!-- Hero Section -->
        <div class="hero hero-text">
            <div class="text">
                <h1> Find the Perfect <br />
                    destination with us.
                </h1>
                <p>
                    Plan & book your perfect trip
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Popular packages -->
<div class="container packages">
    <h1 class="section-title"> Featured Packages </h1>
    <div class="row row-cols-md-3 g-4 py-5">
        <!-- Card Nu. 1 -->
        <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
            <div class="card h-100 product-card">
                <img src="images/rome.jpg" class="card-img-top product-image">
                <div class="card-body">
                    <h5 class="card-title"> <strong>Italy </strong> </h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
                <div class="row justify-content-around mb-3 align-items-center">

                    <button class="btn submit-btn"> Details</button>
                    <h3 class="mb-0"> 300$</h3>
                </div>
            </div>
        </div>
        <!-- Card Nu. 2 -->
        <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
            <div class="card h-100 product-card">
                <img src="images/egypt.jpg" class="card-img-top product-image">
                <div class="card-body">
                    <h5 class="card-title"> <strong>Egypt </strong> </h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
                <div class="row justify-content-around mb-3 align-items-center">

                    <button class="btn submit-btn"> Details</button>
                    <h3 class="mb-0"> 300$</h3>
                </div>
            </div>
        </div>
        <!-- Card Nu. 3 -->
        <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
            <div class="card h-100 product-card">
                <img src="images/france.jpg" class="card-img-top product-image">
                <div class="card-body">
                    <h5 class="card-title"> <strong>France </strong> </h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
                <div class="row justify-content-around mb-3 align-items-center">

                    <button class="btn submit-btn"> Details</button>
                    <h3 class="mb-0"> 300$</h3>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="about-section">
    <h1 class="section-title"> Why Explore ? </h1>
    <div class="container">
        <div class="row align-items-center" id="about-us">
            <div class='col-md-6 col-sm-12'>
                <h2>We Provide Top Destinations Expecially For You Book Now and Enjoy!</h2>
            </div>
            <div class=' col-md-6 col-sm-12'>
                <div class="review-box">
                    <p> TESTIMONIALS</p>
                    <h3> TRAVELERS REVIEWS</h3>
                    <div class="review-text">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Dolor sit amet consectetur adipiscing elit
                            pellentesque.
                        </p>
                        <h4>
                            Jessica H. alan
                        </h4>
                        <h5>
                            Guest Review
                        </h5>
                        <div class='icons'>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>


<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <img src="images/logo.png" height="50px" alt="logo" loading="lazy"></a>
            </div>
            <div class="col-lg-3 col-md-12">
                <p>
                    Let's Get Social
                </p>
                <div class="social-icons">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-square-instagram"></i>
                    <i class="fa-brands fa-linkedin"></i>
                </div>

            </div>
            <div class="col-lg-3 col-md-12">
                <p>
                    Contact Info
                </p>
                <div class="contact-info">
                </div>

            </div>
            <div class="col-lg-3 col-md-12">
                <p>
                    Contact Info
                </p>
                <div class="contact-info">
                </div>

            </div>

        </div>
        <p class="copyright">&copy; 2024 <span>EXplore</span> All Right Reserved</p>
    </div>
</div>






<!-- <section class="packages" id="packages">
        <h2 class="title">
            Discover Our Packages ...
        </h2>
        <div class="container">
            <div class="product-card">
                <div class="product-image">
                    <img src="images/ahmed-afifi-Jl7Mj4i65CE-unsplash.jpg">
                </div>
                <div class="product-info">
                    <strong class="location"> Egypt <span> cairo</span> </strong>
                    <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry.
                    </p>
                    <div class="booking">
                        <button> Book now </button>
                        <strong class="price"> $300</strong>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="images/rome.jpg">
                </div>
                <div class="product-info">
                    <strong class="location"> Italy <span> rome </span> </strong>
                    <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry.
                    </p>
                    <div class="booking">
                        <button> Book now </button>
                        <strong class="price"> $730</strong>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="images/france.jpg">
                </div>
                <div class="product-info">
                    <strong class="location"> France <span> paris</span> </strong>
                    <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry.
                    </p>
                    <div class="booking">
                        <button> Book now </button>
                        <strong class="price"> $550</strong>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="images/ahmed-afifi-Jl7Mj4i65CE-unsplash.jpg">
                </div>
                <div class="product-info">
                    <strong class="location"> Egypt <span> cairo</span> </strong>
                    <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry.
                    </p>
                    <div class="booking">
                        <button> Book now </button>
                        <strong class="price"> $300</strong>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="images/rome.jpg">
                </div>
                <div class="product-info">
                    <strong class="location"> Italy <span> rome </span> </strong>
                    <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry.
                    </p>
                    <div class="booking">
                        <button> Book now </button>
                        <strong class="price"> $730</strong>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="images/france.jpg">
                </div>
                <div class="product-info">
                    <strong class="location"> France <span> paris</span> </strong>
                    <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry.
                    </p>
                    <div class="booking">
                        <button> Book now </button>
                        <strong class="price"> $550</strong>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

<script src="bootstrap/js/popper.min.js"></script>
<script src="bootstrap/js/jquery-3.7.1.min.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>
{% endblock %}


