<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    
    <div class="packages">
    <h1>packages</h1>
</div>
<section class="package">
  {% for package in packages %}
  <article>
    <div>
      <h2>{{ package.package_name }}</h2>
      {% if package.image %}
        <img src="data:image/jpeg;base64,{{ package.image }}" />
      {% else %}
        <p>No image available</p>
      {% endif %}
      <div>{{ package.price }}</div>
    </div>
    <div>
      <div>{{ package.description1 }}</div>
      <div>{{ package.description2 }}</div>
    </div>
  </article>
  {% endfor %}
</section>

  </div>
   
    
</body>
</html>
