/* Variables */
:root {
  --main-color: #a26329;
  --LightGrayColor: #dedede;
  --DarkGrayColor: #999;
  --assetcolor: #85b6a8;
  --lightbg: #f4f5f8;
}

/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}

.container {
  position: relative;
  z-index: 999;
}

.section-title {
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  margin-top: 70px;
}

/* //////////////// */

/* Navigation Bar (Fixed on all pages) */
.navbar {
  padding-top: 3.5rem;
  /* background-color: #a26329; */
  /* border-bottom: var(--DarkGrayColor) solid 1px; */
}
.nav-link {
  color: black;
  font-size: 15px;
  margin-left: 20px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.nav-link:hover {
  color: var(--main-color);
}

/* Content of Page */

h2.title {
  text-align: center;
  margin: 50px;
  font-weight: 600;
}

.row.contact {
  padding: 45px;
}

.overlay.contact {
  height: 400px;
  background-color: var(--main-color);
  background-image: url("../images/andrew-stutesman-l68Z6eF2peA-unsplash.jpg");
  background-size: cover;
}

.overlay-home {
  background-image: url("../images/home_landing.jpg");
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

.overlay-gradient {
  position: absolute;
  left: 0;
  width: 100%;
  height: 103%;
  z-index: 1; /* Ensure the overlay is above the content */
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.8),
    rgba(0, 0, 0, 0)
  );
}
.contact h2 {
  margin-bottom: 20px;
}
.list-unstyled {
  padding: 20px;
  margin-top: 30px;
}

.submit-btn {
  width: 110px;
  padding: 12px 4px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color: var(--main-color);
  border: none;
  border-radius: 16px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  /* margin-top: 10px; */
}

.submit-btn:hover {
  background-color: white;
  box-shadow: 0px 15px 20px rgba(144, 148, 147, 0.4);
  color: #000;
  transform: translateY(-7px);
}

/* //////////////// Home style ///////////// */
/* Hero section */

.hero-text h1 {
  font-weight: 700;
  margin-top: 30px;
  line-height: 1.5em;
  font-size: 3em;
  letter-spacing: 1px;
}

/* Search bar */

/* ///////// Search bar ////////////// */
.hero-section {
  padding-top: 10px;
  margin-top: 50px;
}
.hero-section h1 {
  font-weight: 700;
  line-height: 1.5em;
  font-size: 3em;
  letter-spacing: 1px;
}

.hero-section .subtitle {
  margin-top: 30px;
  margin-bottom: 40px;
}
.search-bar {
  background-color: #fff;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);

  border-radius: 40px;
  /* padding-left: 20px; */
  /* display: flex; */
}
.search-bar form {
  height: 80px;
}
.search-bar input,
select {
  flex: 1; /* Let input and select grow to fill available space */
  border: 0 none;
  outline: 0;
  padding-left: 20px;
}

.search-bar .destination-select {
  border-left: 1px solid var(--LightGrayColor);
  font-weight: 300;
  font-size: 15px;
  margin-left: 13px;
  height: 55%;
}
.search-bar .destination-select .group {
  display: flex;
  align-items: center;
  height: 100%;
}
.search-button {
  padding: 0;
}
.search-button button {
  width: 50px; /* Adjust button width */
  height: 50px; /* Adjust button height */
  border-radius: 50%; /* Make button circular */
  background-color: var(--main-color);
  color: #fff; /* Text color */
  border: none; /* Remove border */
  cursor: pointer;
  font-size: 20px;
}

.search-button button:hover {
  background-color: var(--LightGrayColor);
}

input::placeholder {
  font-weight: 300;
  font-size: 15px;
}

/* @media screen and (max-width: 991px) .search-bar-large {
  height: auto;
  padding: 20px;
} */

/* ///////////    Home | Packages       ///////////// */

.cards-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.product-card {
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 12px;
  padding: 10px;
  min-height: 20em;
  overflow: hidden;
  margin: 5px;
  transition: 0.3s ease;
}

.product-card:hover {
  transform: scale(1.05);
}
.product-card img {
  width: 100%;
  margin: 2px;
  border-radius: 12px;
}
.product-card:hover .product-image {
  opacity: 0.9;
}

.packages .product-card .submit-btn {
}

/* ================ checkout form ================= */

.checkout-form {
  margin-top: 50px;
  padding: 30px;
}

.form-text {
  font-weight: 300;
  margin: 20px 0px 20px 0px;
}

.checkout-form .submit-btn,
.contact-form .submit-btn {
  margin-top: 22px;
}

/* //////////// Home | Footer Section */

/* .footer .container {
  margin: 20px;

} */
.footer {
  padding-top: 50px;
  padding-bottom: 10px;
  /* background-color: var(--LightGrayColor); */
  background-color: var(--assetcolor);
}

.footer .title-footer {
  text-transform: uppercase;
  font-size: 15px;
  margin: 20px auto;
  width: fit-content;
  letter-spacing: 6px;
}

.footer img {
  display: block;
}

.footer .text-footer {
  text-align: left;
  margin-top: 25px;
  font-weight: 300;
}

.footer .social-icons i {
  padding-right: 20px;
  font-size: 27px;
  color: #000;
}
.footer .copyright {
  margin-top: 25px;
  text-align: center;
}
.footer .copyright span {
  font-weight: bold;
}

.footer .customer-care {
  padding: 50px;
  letter-spacing: 10px;
}

.footer .has-top-border {
  border-top: 1px solid var(--LightGrayColor);
  margin-top: 30px;
}
/* //////////////////////// */

.about-section {
  padding: 30px;
  margin: 30px;
}

.review-box {
  width: 80%;
  margin: 20px;
  padding: 30px;
  background-color: var(--lightbg);
}

.review-box .icons {
  color: #ffd700;
}

/* ==================== Packages Page ==================== */

.packages-hero {
  margin-top: 35px;
}
.packages-hero .search-bar {
  margin-top: 10px;
}
.overlay.packages {
  height: 600px;
  background-image: url("../images/sea.jpg");
  background-size: cover;
}

.container.packages.all {
  margin-top: 50px;
}
